JIRA_EMAIL=your_jira_email@company.com
JIRA_TOKEN=your_atlassian_api_token
JIRA_BASE_URL=https://your-domain.atlassian.net
JIRA_PROJECT=YOUR_PROJECT_KEY
JIRA_REPORTERS=accountId1,accountId2,accountId3
ACCESS_TOKEN=generate_with__python3_-c_"import_secrets;_print(secrets.token_urlsafe(32))"
